dotfiles/vim/.vim/plugged/
dotfiles/vim/.vim/undodir/
dotfiles/wpgtk/.config/wpg/wallpapers
dotfiles/wpgtk/.config/wpg/formats
dotfiles/wpgtk/.config/wpg/schemes
dotfiles/wpgtk/.config/wpg/samples
dotfiles/wpgtk/.config/wpg/sequences
dotfiles/wpgtk/.config/wpg/.current
/dotfiles/termite/.config/termite/config
/dotfiles/i3/.config/i3/config.bak
/dotfiles/i3/.config/i3/config.save
/dotfiles/polybar/.config/polybar/config
/dotfiles/i3/.config/i3/config
/dotfiles/wpgtk/.config/wpg/wp_init.sh
/dotfiles/autostart/.config/autostart/keybase_autostart.desktop
/notifications/statnot_conf.pyc
/shortcuts/shortcuts.txt
/yay/
*.pyc
dotfiles/vim/.vim/.netrwhist
dotfiles/vim/.vim/sessions
dotfiles/autorandr
dotfiles/vim/.config/coc/commands
dotfiles/vim/.config/coc/extensions
dotfiles/vim/.config/coc/mru
dotfiles/vim/.config/coc/memos.json
