dotfiles/vim/.vim/plugged/
dotfiles/wpgtk/.config/wpg/wallpapers
dotfiles/wpgtk/.config/wpg/formats
dotfiles/wpgtk/.config/wpg/schemes
dotfiles/wpgtk/.config/wpg/samples
dotfiles/wpgtk/.config/wpg/sequences
dotfiles/wpgtk/.config/wpg/.current
/dotfiles/termite/.config/termite/config
/dotfiles/rofi/.config/rofi/config
/dotfiles/i3/.config/i3/config.bak
/dotfiles/i3/.config/i3/config.save
